.quote-box {
    max-width: 18.125rem;
    border-radius: 1.125rem;
    background-color: var(--bg-color);
    text-align: center;
    font-weight: 600;
    padding: 1rem 1rem;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.75);

    h3 {
        color: var(--aqua);
        font-size: 1.625rem;
    }

    p {
        color: var(--yellow);
        width: 13.5rem;
        margin: 2rem auto;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .aqua-circle {
        width: 1.8125rem;
        height: 1.8125rem;
        border-radius: 100%;
        background-color: var(--aqua);
        margin: 0 auto;

        svg {
            margin-top: 28%;
        }
    }
}